@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('../font/Vazir/css/style.css');
:root{
    --bgcolor : #8a39cc ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    user-select: none;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #1d1d1d;
    color: #fff;
    user-select: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 

}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.credits{
    margin: 30px;
    text-align: center;
}
.credits h1{
    margin: 10px 0;
}
.credits p{
    margin: 30px 0;
    width: 400px;
}
.show-color{
    width: 80%;
    height: 270px;
    background: var(--bgcolor);
    border-radius: 17px;
}
.bottom{
    padding: 20px ;
    margin: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.inputs-container{
    margin: 20px;
}
.inputs-container input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 8px;
    border-radius: 7px;
}
.inputs-container input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    width: 17px;
    height:17px;
    border-radius: 7px;
}
.inputs-container input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    width: 17px;
    height:17px;
    border-radius: 7px;
}

/* #red */
.inputs-container input[type="range"]#red{
    background: rgba(212, 24, 24, 0.5);
}
.inputs-container input[type="range"]#red::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: rgb(236, 29, 29);
}
.inputs-container input[type="range"]#red::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: rgb(236, 29, 29);
}

/* #blue */

.inputs-container input[type="range"]#blue{
    background: rgba(24, 83, 212, 0.5);
}
.inputs-container input[type="range"]#blue::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: rgb(19, 69, 207);
}
.inputs-container input[type="range"]#blue::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: rgb(19, 69, 207);
}

/* #green */
.inputs-container input[type="range"]#green{
    -webkit-appearance: none;
    appearance: none;
    background: rgba(24, 212, 71, 0.5);
}
.inputs-container input[type="range"]#green::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: rgb(21, 199, 80);
}
.inputs-container input[type="range"]#green::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: rgb(21, 199, 80);
}
.right{
    margin: 30px;
}
.right div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px ;
    cursor: pointer;
}
.right input{
    padding: 0 10px;
    font-size: 18px;
    text-align: center;
    background: transparent;
    color: #fff;
    margin: 0 15px;
    width: 170px;
}
.right  div button{
    font-size: 15px;
    padding: 4px 40px;
    color: #1d1d1d;
    background: #80b9ee;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s linear ;
    cursor: pointer;
}

.right  div button span{
    margin-left:10px     ;
    font-size: 16px;
}
.right div:hover  button {
    opacity: 1;
}


/*
    *modals part
*/ 
.modal-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(00,000,0,0.4);
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.modal-container .modal{
    direction: rtl;
    width: 500px;
    padding: 30px;
    background: #353535;
    border-radius: 5px;
    text-align: center;
    font-family: vazir;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}
.modal img#icon{
    width: 100px;
    margin: 20px;
}
.modal-container .time-line{
    width: 100%;
    height: 5px;
    background: cornflowerblue;
    position: absolute;
    left: 0;
    bottom: 0;

}
.tl-animation{
    animation: time_line 3s linear  1 ;
}



@keyframes time_line {
    from{
        width: 0;
        opacity: 0;
    } 
    to{
        opacity: 1;
        width: 100%;
    }
}